@page "/About"
@layout Site
@inherits eShopLegacyWebForms.About
<!-- Conversion of Title attribute (value: "About") for Page directive not currently supported -->
<!-- Conversion of AutoEventWireup attribute (value: "true") for Page directive not currently supported -->
<h2>
    @(Title).
</h2>
<h3>
    Your application description page.
</h3>
<p>
    Use this area to provide additional information.
</p>