@namespace Replace_this_with_code_behind_namespace
@inherits LayoutComponentBase
<!-- Conversion of AutoEventWireup attribute (value: "true") for Master directive not currently supported -->
<!-- Conversion of Inherits attribute (value: "eShopLegacyWebForms.Site_Mobile") for Master directive not currently supported -->
@using eShopLegacyWebForms
<!DOCTYPE html>
@*
<head runat="server">
    <meta name="viewport" content="width=device-width">
    <title></title>
    @Body
</head>
*@
<form id="form1" runat="server">
    <div>
        <h1>
            Mobile Master Page
        </h1>
        @Body
        <section class="content-wrapper main-content clear-fix">
            @Body
        </section>
        @* The following tag is not supported: <friendlyUrls:ViewSwitcher runat="server"> *@@* </friendlyUrls:ViewSwitcher> *@
    </div>
</form>