@namespace Replace_this_with_code_behind_namespace
@inherits LayoutComponentBase
<!-- Conversion of autoeventwireup attribute (value: "true") for master directive not currently supported -->
<!-- Conversion of inherits attribute (value: "eShopLegacyWebForms.SiteMaster") for master directive not currently supported -->
<!DOCTYPE html>
@*
<head runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @(Page.Title) - Catalog manager (Web Forms)
    </title>
    @
    @* The following tag is not supported: <webopt:bundlereference runat="server" path="~/Content/css"> *@@* </webopt:bundlereference> *@
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>
*@
<form runat="server">
    @* The following tag is not supported: <asp:ScriptManager runat="server"> *@
        <Scripts>
            @* To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 *@
                @* Framework Scripts *@
            @* The following tag is not supported: <asp:ScriptReference Name="MsAjaxBundle"> *@@* </asp:ScriptReference> *@
            @* The following tag is not supported: <asp:ScriptReference Name="jquery"> *@@* </asp:ScriptReference> *@
            @* The following tag is not supported: <asp:ScriptReference Name="bootstrap"> *@@* </asp:ScriptReference> *@
            @* The following tag is not supported: <asp:ScriptReference Name="respond"> *@@* </asp:ScriptReference> *@
            @* The following tag is not supported: <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js"> *@@* </asp:ScriptReference> *@
            @* The following tag is not supported: <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js"> *@@* </asp:ScriptReference> *@
            @* The following tag is not supported: <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js"> *@@* </asp:ScriptReference> *@
            @* The following tag is not supported: <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js"> *@@* </asp:ScriptReference> *@
            @* The following tag is not supported: <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js"> *@@* </asp:ScriptReference> *@
            @* The following tag is not supported: <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js"> *@@* </asp:ScriptReference> *@
            @* The following tag is not supported: <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js"> *@@* </asp:ScriptReference> *@
            @* The following tag is not supported: <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js"> *@@* </asp:ScriptReference> *@
            @* The following tag is not supported: <asp:ScriptReference Name="WebFormsBundle"> *@@* </asp:ScriptReference> *@
            @* Site Scripts *@
        </Scripts>
    @* </asp:ScriptManager> *@
    <header class="navbar navbar-light navbar-static-top">
        <div class="esh-header-brand">
            <a runat="server" href="~/">
                <img src="/images/brand.png">
            </a>
        </div>
    </header>
    <section class="esh-app-hero">
        <div class="container esh-header">
            <h1 class="esh-header-title">
                Catalog manager
                <span>
                    (Web Forms)
                </span>
            </h1>
        </div>
    </section>
    <div>
        @Body
    </div>
    <footer class="esh-app-footer">
        <div class="container">
            <article class="row">
                <section class="col-sm-6">
                    <img class="esh-app-footer-brand" src="/images/brand_dark.png">
                </section>
                <section class="col-sm-6">
                    <img class="esh-app-footer-text hidden-xs" src="/images/main_footer_text.png" width="335" height="26" alt="footer text image">
                    <br>
                    <small style="color:white">
                        <label id="SessionInfoLabel">
                            @(SessionInfoLabel_Text)
                        </label>
                    </small>
                </section>
            </article>
        </div>
    </footer>
</form>