@page "/"
@using MyComponentsLibrary

<PageTitle>Index</PageTitle>

<h1>Hello, Blazor!</h1>
 
<h4>Showing Image from a Component available inside Class Library</h4>
 
<BlazorLogo></BlazorLogo>
 
<h4>Showing Image directly from Class Library</h4>
 
<img src="_content/MyComponentsLibrary/images/blazor_logo.jpg" alt="Blazor Logo" />

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


