<!-- Conversion of AutoEventWireup attribute (value: "true") for Control directive not currently supported -->
<div id="viewSwitcher">
    @(CurrentView) view |
    <a href="@(SwitchUrl)" data-ajax="false">
        Switch to @(AlternateView)
    </a>
</div>